<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td colspan="2"><strong>United Kingdom: Sir Patrick Vallance, Government Chief Scientific Adviser</strong><br /><br />Sir Patrick Vallance is the Government Chief Scientific Adviser and Head of the Government Science and Engineering profession. Patrick worked at GlaxoSmithKline (GSK) from 2006 until 2017, including as President of R&amp;D from 2012. Prior to joining GSK, he was a clinical academic, Professor of Medicine and led the Division of Medicine at UCL. His personal research was in the area of diseases of blood vessels and endothelial biology.&nbsp;</td>
</tr>
<tr>
<td colspan="2"><strong>United States: Dr Eric Lander, Science Advisor to the President of the United States, and Director of the White House Office of Science and Technology Policy</strong><br /><br />Dr. Eric Lander is President Biden&rsquo;s science advisor and the Director of the White House Office of Science and Technology Policy. He was formerly President and Founding Director of the Broad Institute, a research institute focused on genomic medicine. He was one of the principal leaders of the Human Genome Project and he has served as a scientific advisor to the federal government across multiple administrations and in multiple departments.</td>
</tr>
<tr>
<td colspan="2"><strong>Germany: Professor Lothar Wieler, President of the Robert Koch Institute</strong><br /><br />Professor Lothar Wieler is president of the Robert Koch Institute in Berlin, the national Public Health Institute in Germany. He is co-founder of the German national research platform on zoonoses, and deputy spokesperson for the research consortium InfectControl 2020, which pursues intersectoral approaches to preventing and treating infections from a One Health perspective. Professor Wieler is also a member of the Strategic and Technical Advisory Group for Infectious Hazards of the World Health Organisation, the scientific advisory board of the Global Research Collaboration for Infectious Disease Preparedness and the WHO Europe Advisory Committee on Health Research.</td>
</tr>
<tr>
<td colspan="2"><strong>Japan: Dr Yasumasa Fukushima, Councillor, Office of Healthcare Policy, Cabinet Secretariat; and Chief Medical Officer, Ministry of Health, Labour and Welfare</strong><br /><br />Dr. Yasumasa Fukushima was appointed as the Chief Medical Officer of the Ministry of Health, Labour and Welfare (MHLW) Japan in August 2020, after serving as the president of the National Institute of Public Health from 2018. Dr. Fukushima started his career with the MHLW in 1987 and also served as a public health administrator at national, prefectural and municipal levels.</td>
</tr>
<tr>
<td colspan="2"><strong>Canada: Dr Mona Nemer, Chief Science Advisor of Canada</strong><br /><br />Dr. Mona Nemer is Canada&rsquo;s Chief Science Advisor. Her role is to provide science advice to the Prime Minister and his Cabinet. An internationally renowned cardiovascular scientist and a distinguished academic leader, Dr. Nemer has made seminal contributions to several fields ranging from gene regulation to molecular cardiology.</td>
</tr>
<tr>
<td colspan="2"><strong>Italy: Professor Stefano Vella, Professor of Global Health, Catholic University of Rome</strong><br /><br />Professor Stefano Vella is Adjunct Professor of Global Health at the Catholic University of Rome, and member of the Program Committee of Horizon Europe &ndash; Health Cluster, the Research Program of the European Commission (2021-2027). He was President of the Italian Medicines Agency from 2017 to 2018. Professor Vella has conducted specific research on major pandemics, specifically on HIV/AIDS and tuberculosis.</td>
</tr>
<tr>
<td colspan="2"><strong>France: Professor Stewart Cole, President of Institut Pasteur, France</strong><br /><br />Professor Stewart Cole, Professor of Microbial Pathogenesis, is President of the Institut Pasteur, Paris, and vice-president of the Pasteur network (33 members in 25 countries). He is an expert in tuberculosis.</td>
</tr>
<tr>
<td colspan="2"><strong>Professor Yazdan Yazdanpanah, Head of Infectious Disease department at Bichat Claude Bernard Hospital and Professor of Medicine at Paris Diderot University, France</strong><br /><br />Professor Yazdan Yazdanpanah is Director of the ANRS Emerging Infectious Disease French Funding Agency, French Aviesan Institute of Immunology, Inflammation, Infectiology, and Microbiology. He is also the Co-Chair of the Global Research Collaboration for Infectious Disease Preparedness International Network (GLoPID-R) and the Chair of The European &amp; Developing Countries Clinical Trials Partnership board. </td>
</tr>
<tr>
<td colspan="2"><strong>Professor Jean-Francois Delfraissy, Chair, COVID-19 Scientific Council</strong><br /><br />Professor Jean-Francois Delfraissy has been president of the National Consultative Ethics Committee since January 2017. In 2019, he was appointed co-chair of the Collaborative Group on Social Participation. He received the INSERM Honorary Award in 2019. Since March 2020, he is the President of the Covid-19 Scientific Council. Professor Delfraissy is a specialist in HIV and emerging viruses and has published more than 500 articles in the field of immunology, internal medicine and HIV infection.</td>
</tr>
<tr>
<td colspan="2"><strong>Representative of the European Union: Sir Peter Piot, Special Advisor to the President of the European Commission on COVID-19</strong><br /><br />Sir Peter Piot MD PhD is Special Advisor to the President of the European Commission and is based in his native Belgium. He is the Handa Professor of Global Health at the London School of Hygiene &amp; Tropical Medicine of which he was the Director. He was the founding Executive Director of the Joint United Nations Programme on HIV/AIDS and Under Secretary General of the United Nations, Belgium.</td>
</tr>
</tbody>
</table>