####Diagram 2 - example

###What Could Have Been: Comparing the COVID-19 Timeline to a Proposed 100 Days Mission Timeline

###COVID-19 Timeline

<strong>2014</strong>

- <strong>-16 years</strong><br>First clinical trial of an mRNA vaccine
- <strong>-5 years</strong> <br>WHO workshop on prioritisation of pathogens calls for R&D on MERS and SARS coronaviruses, among other diseases

<strong>2015</strong>

- <strong>-4 years</strong><br>Pre-fusion structure of a human coronavirus spike protein published

<strong>2016</strong>

- <strong>-19 days</strong><br>SARS-CoV-2 Sequence publicly shared

<strong>2020</strong>

- <strong>0 days <br>WHO declares PHEIC</strong>
- <strong>64 Days</strong><br>First real-time PCR test granted WHO EUL
- <strong>65 days</strong><br>WHO report 1 million confirmed COVID-19 cases
- <strong>84 days</strong><br>Launch of mRNA vaccine Phase 1/2 trial, 4 candidates evaluated in parallel
- <strong>85 days</strong><br>ACT-A launched
- <strong>126 days</strong><br>Gavi Global Vaccine Summit, launched and raised $505 million for COVAX AMC to support LMICs
- <strong>138 days</strong><br> RECOVERY trial reports dexamethasone reduces mortality for those with severe disease
- <strong>167 days</strong><br>150 countries in COVAX (75 self-financing)
- <strong>179 days</strong><br>Phase 2/3 trial starts with selected mRNA vaccine candidate
- <strong>216 days</strong><br>WHO approves dexamethasone as a COVID-19 therapeutic
- <strong>236 days</strong><br>First Rapid Diagnostic Test granted WHO EUL
- <strong>259 days</strong><br>SOLIDARITY Trial published interim results on therapeutics
- <strong>284 days</strong><br>Phase 3 data show efficacy, will file for EUA once safety milestones met
- <strong>307 days</strong><br>First SRA approval of vaccine (MHRA of Pfizer/BioNTech)
- <strong>336 days</strong><br>WHO issued its first emergency use validation for a COVID-19 vaccine
- <strong>336 days<br>1 established example for each of Diadgnostics, Theraputics and Vaccine</strong>

<strong>2021</strong>

- <strong>538 days</strong><br>Partnership with Biovac to supply doses for Africa
- <strong>574 days</strong><br>Partnership with Eurofarma to supply doses for Latin America
- <strong>601 days</strong><br>FDA EUA for COVID-19 vaccine booster  

###100 Days Mission Timeline

<strong>Preparing for the 100 Days, Today</strong>

- Global epidemiological and genomic surveillance: continuous surveillance and established mechanisms for pathogen prioritisation and data sharing
- Fundamental research: ongoing research on pathogens and immunity
- Global regulatory harmonisation: streamline and harmonise regulatory processes, and establish emergency procedures
- Advance candidate vaccines and therapeutics for pathogens with epidemic or pandemic potential into early-stage clinical studies
- Establish the platforms and partnerships needed for R&D and clinical trials
- Build and sustain manufacturing capacity , kept warm through application of innovative technologies to endemic diseases
- Pathogens sequenced and shared globaly through integrated data and sample sharing mechanisms

<strong>The 100 Days Response</strong>

- <strong>0 days<br>WHO declares PHEIC</strong>
- Industry pivots existing programmes to address new target, leveraging past and new private and public investments
- Pandemic rules of the road take effect, facilitating sharing of samples and materials
- WHO and regulatory authorities issue guidance documents and target product profiles, including expectations for safety data
- Clinical trials of most promising candidates launched using clinical trial via regionally linked clinical trials networks
- Advance market commitments enable manufacturing at risk while clinical trials are ongoing
- Manufacturers rapidly expand production capacity, including through regional manufacturing hubs
- Safe and efficacious DTV achieve EUA
- <strong>100 days<br>An armamentarium of DTV ready to be deployed, consisting of:</strong>
  - Accurate and approved rapid diagnostic tests
  - An initial regimen of therapeutics
  - Vaccines ready to be produced at scale

<strong>Post – 100 Days Actions</strong>

- R&D improvements to thermostability and yields, enabling alternative routes of administration (e.g. nasal)
- Vaccines are evaluated for duration of protection, effectiveness against emerging variants, when used to boost immunity

####Diagram 4

###Proposed 100 Days Mission Roadmap for Therapeutics 

####Successfully achieving the milestones for the following recommendations will help us attain an initial regime of therapeutics within 100 days

<table class="financial-data source-tableeditor">
<tbody>
<tr style="text-align: center;">
<td></td>
<td>2022<br>Milestones</td>
<td>2023<br>Milestones</td>
<td>2024<br>Milestones</td>
<td>2025<br>Milestones</td>
<td><strong>2026<br>Outcomes</strong></td>
</tr>
<tr>
<td><strong>Recommendation 3</strong> <br /><br />Develop prototype antiviral therapeutics, including antibody therapies, for respiratory pathogens of pandemic potential. <br /><strong>(Research-based pharmaceutical industry initiatives such as READDI </strong><strong>and INTREPID) </strong></td>
<td>WHO works with CEPI (alongside INTREPID) to develop priority virus families for accelerated development of prototype antivirals. <br /><br />Industry, working with INTREPID, agrees priority viral families for antiviral development and testing. Initiates development of ten high-quality antiviral candidates (small molecule antivirals). <br /><br />READDI launches broad spectrum antiviral discovery efforts for multiple priority virus families.</td>
<td>Industry, working with INTREPID and wider partners, develops 20 antiviral candidates, against the agreed priorities. <br /><br />READDI advances lead antiviral compounds into preclinical testing.</td>
<td>Industry, working with INTREPID and wider partners, develops 25 antiviral candidates against the agreed priorities. <br /><br />READDI, with INTREPID and industry and other partners, launch late stage preclinical and early clinical development and establishes clinical trial plans.</td>
<td>Industry, working with INTREPID, and wider partners, develops 25 antiviral candidates, which have advanced to Phase 1 testing in humans, against the agreed priority pathogen list. <br /><br />READDI, with INTREPID and industry and other partners, identify small molecule antiviral candidates to advance through Phrase 1 testing, and develops Phase 2/3 clinical trial plans.</td>
<td>25 high-quality therapeutic candidates developed against priority (respiratory) virus families.</td>
</tr>
<tr>
<td><strong>Recommendation 5</strong><br /><br />Invest in simplified cheaper routes for producing monoclonal antibodies and other new therapeutic modalities <strong>(G7 Govts, </strong><strong>Industry (IFPMA)) </strong></td>
<td>Working with the proposed therapeutics forum, industry (with partners) targets investment to develop: <br /><br />i. mAbs &ndash; to enable smaller or less frequent doses, improve thermostability, routes of administration and pursue manufacturing innovation. <br /><br />ii. Novel programmable antivirals (including new approaches e.g. siRNA, stapled peptides or inferring inhibitors) against future Disease X.</td>
<td>Industry, working with the proposed therapeutics forum, targets investment to address mAbs deployability challenges. Industry (with partners)>develops programmable antiviral platform technology (including new approaches) to address priority endemic diseases.</td>
<td>mAbs demonstrate improved thermostability and administration, with smaller or less frequent doses for the same treatment. Innovations contribute to reducing average cost of producing marketable mAbs to less than $75/gram.<br /><br />Programmable antiviral platform technologies developed against priority endemic diseases, proving efficacy.</td>
<td>mAbs demonstrate improved thermostability and administration, with smaller or less frequent doses for the same treatment. Innovations contribute to reducing average cost of producing marketable mAbs to less than $50/gram. <br /><br />Programmable antiviral platform technologies developed against wider endemic diseases, proving efficacy.</td>
<td>Cost of producing marketable mAbs reduced to less than $25/gram.<sup>a</sup><br /><br />Programmable antivirals available, able to be rapidly re-purposed to Disease X.</td>
</tr>
<tr>
<td><strong>Recommendation 6</strong> <br /><br />Strengthen the role of the international system in R&amp;D capability and coordination for therapeutics by expanding CEPI&rsquo;s remit to cover therapeutics, <strong>(CEPI with funding support from G7 Govts). </strong></td>
<td>INTREPID, READDI, the Hever Group, Wellcome, BMGF, CEPI and other key stakeholders agree a therapeutics forum to share information and reduce duplication<br />of efforts. <br /><br />CEPI sets out its strategic objectives and investment plan for therapeutics.</td>
<td>Future milestones will be agreed by the proposed therapeutics forum and reported by CEPI in 2022. <br /><br />INTREPID works with key industry partners to enable the rapid translation of promising academic discoveries onto industrialised platforms.</td>
<td>Future milestones will be agreed by the proposed therapeutics forum and reported by CEPI in 2022. <br /><br />INTREPID works with key industry partners to enable the rapid translation of promising academic discoveries onto industrialised platforms.</td>
<td>Future milestones will be agreed by the proposed therapeutics forum and reported by CEPI in 2022. <br /><br />INTREPID works with key industry partners to enable the rapid translation of promising academic discoveries onto industrialised platforms.</td>
<td>A sustainable R&amp;D ecosystem and improved international coordination and funding for therapeutics R&amp;D.</td>
</tr>
</tbody>
</table>
<table class="financial-data source-tableeditor">
<tbody>
<tr>
<td>a. The cost of producing monoclonal antibodies is currently estimated to be ~$100/gram, per Stamatis, C. and Farid, S.S. (2021). Process economics evaluation of call-free synthesis for the commercial manufacture of antibody drug conjugates. Biotechnology Journal, 16(4), p.2000238. Included within gram measurement are both the bulk drug substance and the final drug product, per Wellcome (2020). Expanding access to monoclonal antibodies. [online] Wellcome. Available at: <a href="https://wellcome.org/reports/expanding-access-monoclonal-antibodies">https://wellcome.org/reports/expanding-access-monoclonal-antibodies</a>.</td>
</tr>
</tbody>
</table>


####Diagram 7 - example

###100 Days Mission Reporting Timeline: The Year Ahead

<strong>2021</strong>

<strong>November</strong>

- First G7 CSA 100DM Implementation Review (Convened by 100DM Secretariat)
- Special session of World Health Assembly (Other contribution)

<strong>December</strong>

- <strong>7-8</strong>: G20 Sherpa meeting, Jakarta 
- <strong>11-12</strong>: G7 Foreign and Development Ministers meeting 

<strong>2022</strong>

<strong>January</strong>

- UK handover G7 Presidency to Germany 

<strong>March</strong>

- CEPI 2.0 Replenishment conference (Other contribution)

<strong>Spring</strong>

- Inaugural STEG meeting, and subsequent monthly meetings (Convened by 100DM Secretariat)
- World Bank and IMF meeting where multilateral development banks will report on loans for DTV during a pandemic (Other contribution)
- WHO Implementation Group reports to G7 on its implementation of Pathogen Surveillance Report (Other contribution)
- G20 meeting 

<strong>April</strong>

- G7 Science Academies report on data capture, standards, sharing and analysis (Other contribution)
- SRA to report on new, common regulatory framework on diagnostics, an international knowledge-sharing alliance and regulatory evaluation best practices (Other contribution)

<strong>TBC</strong>

- Recommended second G7 CSA 100DM Implementation Review (Convened by 100DM Secretariat)
- G7 Leaders Summit (Germany) 
- G7 Finance and Health Ministerial meetings 
- G20 Health and Finance Ministers stands up a permanent Task Force 

<strong>December</strong>

- Completion of CEPI 2.0 Replenishment (Other contribution)


##Annex A - Example

<table class="financial-data source-tableeditor"><colgroup> <col /> <col /> <col /> <col /> </colgroup>
<thead>
<tr>
<th>100DM <span>Recommendations</span></th>
<th>100DM Recommendation Le<span>ad &amp; Milestones</span></th>
<th>Summary P<span>rogress Update </span></th>
<th>Proposed Future Reporting and<span> Key Milestones</span></th>
</tr>
</thead>
<tbody>
<tr>
<th colspan="4"><strong>Overall Better Pandemic Preparedness</strong></th>
</tr>
<tr>
<td>1. A regular review of the implementation of the recommendations in this report, beginning with an initial stocktake before t<span>he end of 2021.</span></td>
<td><span>G7 Chief Scientific Advisers,</span> or equivalents, to meet at the <span>2021 <strong>Implementation Review</strong></span>, ahead of the <strong>2022</strong> G7 summit, and regularly thereafter until the Mission is c<span>omplete (2026).</span></td>
<td>&bull; The 2021 Implementation Review, the first of its kind, was chaired by Sir Patrick Vallance and took place on 22nd November 2021 to review 100DM progress since the June 2021 Carbis <span>Bay G7 summit.<br /></span><br /><br />&bull; CSAs and equivalents recommended conducting annual 100DM Implementation Reviews (<strong>2022</strong> to 2026), reporting to Leaders ahead of the annual G7 summit. <br /><br />&bull; The incumbent G7 presidency CSA or equivalent would ch<span>air the review.</span> This Implementation Report provides an independent review of progress across the 100DM recommendations in 2021 and sets out suggested priorities and plans for th<span>e years ahead. </span></td>
<td><strong><strong>2022</strong></strong> <br /><br />&bull; The <strong>2022</strong> Implementation Review should review progress and agree updated milestones for the 100DM, including clear ownership of actions and delivery timelines again<span>st milestones. <br /></span><br />&bull; CSAs were supportive in principle of the proposal to establish a dedicated 100DM Secretariat in early <strong>2022</strong> to support incumbent G7 CSAs in hosting future annual implementation reviews and drafting the implementation report. The Secretariat will liaise with the proposed Science and Technology Expert Group, implementing organisations, the WHO, wider G7 and G20 tracks, and the G20 Joint Finance&bull;Health Task Force to ensure coherent reporting across 100DM i<span>mplementation. <br /></span><br />&bull; CSAs recommend a new Science and Technology Expert Group (STEG) is established in Q1 of <strong>2022</strong> to provide technical assurance of delivery across the 100DM S&amp;T recommendations. It will meet with 100DM implementing partners and international science leaders and experts regularly to strengthen assurance and review and report progress, includ<span>ing to G7 CSAs.</span> <br /><br /><strong>Future Years<br /></strong><br />&bull; CSAs recommend reporting to to G7 Leaders annually by publishing an Implementation Report on the 100DM and providing a verbal update at the annual G7 L<span>eaders Summit. </span></td>
</tr>
<tr>
<th colspan="4"><strong>R&amp;D to fill the gaps in our arsenal</strong></th>
</tr>
<tr>
<td>2. Build prototype vaccines and diagnostic libraries applicable to representative pathogens of pand<span>emic potential.</span></td>
<td>CEPI, as per the Pathogen Surveillance Report, works with industry, biotechnology companies, research institutions, academia, and others supported by G7 governments. CEPI will report on this <strong>annually from October 2021.</strong></td>
<td>&bull; CEPI has reported to the 100DM Secretariat on progress working with industry and academia to mature plans for CEPI 2.0, including delivery of the Disea<span>se X programme.</span> <br /><br />&bull; DeepMind has used its state&bull;of&bull;the&bull;art AI system. AlphaFold, to generate protein structure predictions for 32 viruses curated by CEPI. These served as a starting point for discussing how AlphaFold might support the work<span> of the 100DM. </span></td>
<td><strong><strong>2022</strong> </strong><br /><br />&bull; CEPI (with partners) will provide a written annual report setting out progress in developing prototype vaccine libraries ahead of the annual Implemen<span>tation Review. <br /><br /></span>&bull; CEPI will create pilot vaccine libraries for two priority virus families as well as invest in R&amp;D to advance platform technologies. FIND, with CEPI, the WHO and industry and academic partners will develop a diagnostics innovation plan for the 100DM and commence development of prototype diagnost<span>ics libraries. <br /><br /></span>&bull; Development of prototype libraries will be informed by regular live fire exercises or &lsquo;germ games&rsquo; to simulate the early warning phase (and the first 100 days) of a novel respiratory virus epidemic, where Day Zero marks the sequencin<span>g of the virus.</span> <br /><br />&bull; CEPI will secure funding through the replenishment event in the UK in March <strong>2022</strong>. CEPI and FIND will develop and agree on a funding plan for development of prototy<span>pe diagnostics.</span> <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2026 we should aim to have prototype vaccine libraries developed for the ten virus families, building on CEPI&rsquo;s two pilot vaccines libraries and conducting preclinical and clinical trials of selected subset of its vac<span>cines library. <br /><br /></span>&bull; On diagnostics, FIND will work with the WHO, industry and academia to support development of prototype diagnostics libraries providing broad coverage for ten virus families and develop pathogen&bull;agnostic platforms with the potential to detec<span>t &lsquo;Disease X&rsquo;. </span></td>
</tr>
<tr>
<td>3. Develop prototype antiviral therapeutics, including antibody therapies, for respiratory pathogens of pand<span>emic potential.</span></td>
<td>Research&bull;based pharmaceuticals, supported by initiatives like INTREPID, to work with academia, biotechnology companies, CEPI, The Global Fund, philanthropic funders and G7 governments. INTREPID to report <strong>annually from October 2021 until 2026.</strong></td>
<td>&bull; INTREPID reported progress in supporting pharmaceutical industry initiatives to develop prototype antiviral therapeutics to the 100DM Secretariat ahead of the 2021 Impleme<span>ntation Review.</span> <br /><br />&bull; INTREPID has recruited industry participants and formalised initial financial commitments to begin the rapid translation of promising academic discoveries onto an industrial<span>ised platform. <br /><br /></span>&bull; READDI has received initial financial commitments and commenced broad spectrum antiviral discovery and devel<span>opment efforts.</span></td>
<td><strong><strong>2022</strong></strong> <br /><br />&bull; INTREPID (supporting industry and academic partners) will report annually, setting out progress in developing prototype antiviral therapeutics prior to the annual Implemen<span>tation Review. <br /><br /></span>&bull; Industry, supported by INTREPID (in collaboration with CEPI, FIND and the WHO), should agree priorities for antiviral development and testing, and develop ten high&bull;quality antiviral candidates, informed by the agreed list of priority virus families (the W<span>HO with CEPI). <br /><br /></span>&bull; READDI will annually report progress on small molecule antiviral development as well as advances in manufacturing and clinical t<span>rials planning.</span> <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2026, industry, supported by INTREPID, will develop 25 high&bull;quality therapeutic candidates against priority (respiratory) pathogens that have completed Phase 1 studies in humans. READDI will develop five broad spectrum antivirals and agree Phase 2/3 trial designs for antiviral candidates in advance of future vi<span>ruses emerging.</span></td>
</tr>
<tr>
<td rowspan="2">4, Invest in modernising vaccine technology by targeting vaccine preven<span>table diseases.</span></td>
<td rowspan="2">Industry [supported by IFPMA] to work with biotechnology companies, research institutions, CEPI and supported by G7 governments. CEPI and IFPMA to report separately and <strong>annually from October 2021.</strong></td>
<td rowspan="2">&bull; IFPMA reported to the 100DM Secretariat on its progress ahead of the 2021 Implementation Review. They highlighted rapid developments in &lsquo;plug and play&rsquo; vaccine platform technology which academia and industry are aiming to apply to en<span>demic diseases.</span> <br /><br />&bull; IFPMA also reported that the biopharmaceutical industry supports the ambition of the 100DM and is committed to investing in R&amp;D to build a portfolio of promising candidate vaccines, treatments, and technologies against pathogens of pandemic or epidem<span>ic importance. <br /></span><br />&bull; CEPI, working with McKinsey, is conducting a review of the mRNA vaccine developer landscape, with a focus on key technological advances and critical gaps. This analysis will inform future investments to demonstrate the effectiveness and safety of platform technology for selected pathogens to licensure for application to Disease X threats. Developments will be designed to be accessible for use by all populations in all regions. The McKinsey report will be published i<span>n January <strong>2022</strong>.</span> <br /><br />&bull; CEPI is investing with philanthropic partners to accelerate disruptive innovations in vaccine platform technologies and manufacturing processes through their <span>LEAP programme.</span></td>
<td rowspan="2"><strong><strong>2022</strong></strong> <br /><br />&bull; IFPMA, working with industry partners, will provide a written annual report on industry&rsquo;s progress to modernise vaccine platform technology including by targeting endemic diseases (proving tailored efficacy) prior to the annual Implemen<span>tation Review. <br /><br /></span>&bull; In <strong>2022</strong> CEPI, working with partners including IFPMA and Wellcome, will invest in disruptive innovations (LEAP Programme) to improve mRNA technology platforms and manufacturing processes, and facilitate the establishment of global res<span>earch networks.<br /></span><br /><strong>Future Years</strong> <br /><br />&bull; By 2026, the goal is to have readily &lsquo;programmable&rsquo; vaccine technology platforms available, able to be rapidly re&bull;purposed and deployed globally at scale to an emer<span>ging Disease X.</span></td>
</tr>
<tr></tr>
<tr>
<td>5. Invest in simplified cheaper routes for producing monoclonal antibodies and other new therapeu<span>tic modalities.</span></td>
<td>Industry [supported by IFPMA], to work with biotechnology companies, research institutions, academia and other relevant institutions. IFPMA to report <strong>annually from October 2021.</strong></td>
<td>&bull; IFPMA reported to the 100DM Secretariat on current investments and work is underway to develop simpler and cheaper routes for producing monoclonal antibodies ahead of the 2021 Implementation Review. They highlighted the importance of innovation to simplify routes of administration and improve manufacturing efficiency, to realise the full be<span>nefits of mAbs.</span> <br /><br />&bull; CEPI reported to its Investors Council in September 2021 on the emerging therapeutics landscape catalysed by COVID&bull;19 and CEPI&rsquo;s role to address gaps within it. The landscape analysis revealed extensive interest in upstream therapeutics R&amp;D but limited research and attention focused on mid&nbsp;or down- stream R&amp;D. CEPI is well positioned to make selected investments in monoclonal antibodies given its overlap with their existing work on mRNA vaccines. Conversations are ongoing within CEPI to shape their strategy fo<span>r therapeutics.</span></td>
<td><strong><strong>2022</strong></strong> <br /><br />&bull; IFPMA (with CEPI, industry and academic partners) will provide a written annual report on industry&rsquo;s progress to develop cheaper routes for producing monoclonal antibodies and other new therapeutic modalities (including &lsquo;programmable&rsquo; therapeutics) prior to the annual Implemen<span>tation Review. <br /></span><br />&bull; Industry, working with partners, will progress developments towards smaller or less frequent doses, improve thermostability, pursue alternative routes of administration and advances in manufacturing innovation (e.g. platfor<span>m capability). <br /><br /></span> <strong>Future Years </strong><br /><br />&bull; By 2026 this should reduce the cost of producing marketable mAbs to less than $25 / gram. This outcome will greatly improve ac<span>cess for LMICs.</span></td>
</tr>
<tr>
<td>6. Strengthen the role of the international system in R&amp;D capability and coordination for therapeutics and diagnostics by expanding CEPI&rsquo;s remit to cover therapeutics and diagnostics, in additi<span>on to vaccines.</span></td>
<td>CEPI with funding support from G7/G20 governments. [The replenishment process is expected to be com<span>pleted </span><strong>by <strong>2022</strong></strong><span>]</span></td>
<td>&bull; CEPI and FIND reported to the 100DM Secretariat on their progress in strengthening the role of the international system in R&amp;D capability and coordination for DTVs ahead of the 2021 Implemen<span>tation Review. <br /><br /></span>&bull; The recommendation to expand CEPI&rsquo;s role to cover therapeutics aligns with and builds upon CEPI&rsquo;s <strong>2022</strong>&bull;2026 Strategy (&ldquo;CEPI 2.0&rdquo;). CEPI&rsquo;s Board has endorsed an approach to pursue activities related to therapeutics consistent with their current mandate, and will consider extending it to enable a broader scope of therapeutics&rsquo; efforts<span> to be pursued.</span> <br /><br />&bull; FIND is working in partnership with CEPI and the WHO to strengthen international coordination on diagnostics in pursuit of the 100DM (CEPI has no plans to expand into a diagnostics coor<span>dination role).</span></td>
<td><strong><strong>2022</strong></strong> <br /><span><br />&bull; <strong>Diagnostics:</strong></span> In January <strong>2022</strong>, CEPI and FIND will submit a joint report on diagnostics innovation for pandemics for the 100DM at the World Economic Forum in Davos, Switzerland. FIND, working with CEPI and the WHO, will provide a written report annually on strengthening diagnostics R&amp;D coordination (global) and capability development ahead of the annual Implemen<span>tation Review.<br /><br /></span><span>&bull; <strong>Therapeutics: </strong></span>a forum will be established to bring together complementary therapeutics initiatives. The specific remit of this forum is yet to be scoped but CEPI will play a key role as a convener, as well as contributing to evidence generation and tracking of novel and repurposed therapeutics. The forum provides a potential avenue for interested parties to share pre&bull;competitiv<span>e information.<br /><br /></span>&bull; CEPI, working with the proposed therapeutics forum, will report annually on strengthening therapeutics R&amp;D coordination (global) and capability development ahead of the annual Impleme<span>ntation Review.</span> <br /><br />&bull; In March <strong>2022</strong> the UK government will host the CEPI replenishment conference to secure funding to deliver &lsquo;CEPI 2.0&rsquo;, including efforts in suppor<span>t of the 100DM.</span> <br /><br /><span><strong>Future Years</strong><br /><br /></span>&bull; By 2026 strengthened international R&amp;D capability and coordination across therapeutics and diagnostics (as for vaccines) will have led to an effective end&bull;to&bull;end R&amp;D pipeline for DTVs, with sustained funding to support del<span>ivery of 100DM.</span> <br /><br />&bull; FIND will report progress in developing partnerships across the diagnostic sector and governments and improvements in regulation, clinical trials, manufacturing and supply chains f<span>or diagnostics.</span></td>
</tr>
<tr>
<td>7. Governments should normalise the use of accurate diagnostics for coronavirus and influenza in point-of-care and non-clinical settings.</td>
<td>G7 governments to work with FIND and other relevant organisations. G7 CSAs will report on their country&rsquo;s progress at the <strong>2021 Implementation Review</strong> and agree next steps.</td>
<td>&bull; G7 CSAs reported to the 100DM Secretariat on their government&rsquo;s progress implementing this recommendation ahead of the 2021 Implementation Review. Many G7 countries have stimulated their domestic diagnostic markets through procurement and deployment of rapid diagnostic tests for COVID-19. <br /><br />&bull; In the US, the programme &ldquo;Say Yes! COVID-19 Test&rsquo;&rsquo; has been rolled out across selected local jurisdictions where residents can order and have rapid at-home COVID-19 tests or pick them up at designated sites. <br /><br />&bull; Japan has introduced &lsquo;Guidelines for COVID-19 Antibody Testing&rsquo; which outlines a number of testing methods for relevant laboratories. The use of rapid tests in Japan is being enhanced. All COVID-19 tests are publicly funded in Japan. <br /><br />&bull; France is currently mainstreaming the use of duplex PCR diagnostic tests (influenza, SARS-CoV-2) for the &ldquo;at risk&rdquo; population, although this is almost exclusively carried out in a hospital context. <br /><br />&bull; The Canadian government has worked closely with the private sector to drive technology development and scale workplace testing programmes and support access to free tests in the community. Canada is aiming to move away from the PCR lab-based testing as the sole diagnostic test and, as such, are prioritising regulatory submissions of point-of-care COVID-19 tests and have convened a COVID-19 Testing and Screening Advisory Panel to provide evidence-informed advice to support point-of-care COVID-19 test implementation across the country. <br /><br />&bull; The UK is changing the model of diagnostics services to be more proactive, taking advantage of new technologies and changed public behaviour, to focus on prevention and prediction. Enhanced diagnostics capacity and capability will improve preparedness for future pandemics as this can be pivoted to developing tests against a new pathogen.</td>
<td><strong>2022</strong> <br /><br />&bull; G7 governments, working with FIND and partners including WHO, will produce plans to normalise the use of diagnostics domestically including annual indicative milestones. <br /><br />&bull; In <strong>2022</strong>, FIND will focus on promoting affordability of RTD/PCRs for endemic diseases. Future Years <br /><br />&bull; By 2026 diagnostics will be used routinely in point-of-care and non-clinical settings. FIND, working with academia and industry (and with the WHO), aims to develop diagnostics that are affordable to LMICs and support uptake in those countries.</td>
</tr>
<tr>
<td>8. WHO should support an enhanced role for diagnostics in the surveillance of pandemic threats.</td>
<td>The WHO Implementation Group to report on progress in <strong>early 2022</strong> to the G7 Presidency as part of its implementation of the Pathogen Surveillance Report.</td>
<td>&bull; The WHO convened an Implementation Consultation Group (ICG) to develop a conceptual approach for an International Pandemic Surveillance Network (IPSN). A stepwise process is being used to develop the conceptual approach, and to provide options for IPSN implementation. The steps include elucidating the features of the IPSN, identifying its use cases, mapping existing capacities including in countries and networks/initiatives to assess barriers and identify opportunities, and developing the work packages and pilots needed for implementation. <br /><br />&bull; The IPSN pilots are being scoped to serve as the &lsquo;beta version&rsquo; of the IPSN by the end of 2021. <br /><br />&bull; The IPSN and the ACT-A Genomic Surveillance working groups, are working towards the strategic goal of ensuring that genomic surveillance is strengthened and scaled for quality, timely, and appropriate public health actions within local and global surveillance systems. The WHO is conducting a global consultation with stakeholders in 2021, and the strategy outcomes are strongly interconnected with the WHO Berlin Hub to strengthen pandemic and epidemic intelligence.</td>
<td><strong>2022</strong> <br /><br />&bull; Pilots for the network will be established, which will serve as a &lsquo;beta version&rsquo; of the IPSN. The pilots will run in parallel to the IPSN ICG finalising the conceptual approach to inform a global strategic vision. <br /><br />&bull; The WHO will report on the utilisation of the IPSN conceptual approach to strengthen genomic surveillance of pandemic threat before April 2022. <br /><br />&bull; The WHO will finalise and publish the WHO Global Genomics Strategy in March 2022. <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2026, the WHO, working with partners, aims to integrate diagnostics into the IPSN to maximise its coverage and utility. <br /><br />&bull; By 2026, the IPSN will be harmonised with complementary work streams including the Global Pandemic Data Alliance&rsquo;s work and the Food and Agriculture Organization (FAO), Organization for Animal Health (OIE), and UN Environment Programme (UNEP).</td>
</tr>
<tr>
<th colspan="4"><strong>Make the exceptional routine by embedding best practice and preparation in business as usual activity</strong></th>
</tr>
<tr>
<td>9. Scope out how an international network of clinical trial platforms could be implemented to enable a coordinated and efficient approach to testing of DTVs.</td>
<td>The WHO to work with G20 governments, industry, philanthropic organisations and academia. The WHO will propose a collaboration model at the <strong>2021 Implementation Review</strong>.</td>
<td>&bull; The WHO Special Programme for Research and Training in Tropical Diseases is conducting an initial rapid research assessment of regionally linked clinical trials infrastructure, gaps and opportunities across the world. This showed the existence of clinical trials networks in all regions. <br /><br />&bull; More detailed scoping will be conducted by February 2022 to understand how best to strengthen and coordinate regionally linked clinical trials infrastructure to enable a faster response to future epidemic threats and to respond more effectively to ongoing issues of global health importance. <br /><br />&bull; Based on the outcome of this scoping, the WHO (with UK support) will develop an implementation plan to fund, develop and strengthen appropriate infrastructure for clinical trials in a sustainable way.</td>
<td><strong>2022</strong> <br /><br />&bull; The WHO will focus on identifying and optimising the type of infrastructure needed to support efficient trials and confirm the action plan to deliver this, including securing funding and partners for implementation. <br /><br />&bull; The WHO will provide an update on their clinical trials action plan and the potential implementation of an international network of regionally linked clinical trials mechanisms to G7 CSAs at the 2022 annual Implementation Review.<br /><br /><strong>Future Years</strong> <br /><br />&bull; Milestones for delivery will be included in the WHO action plan and updated at the 2022 G7 CSA review.</td>
</tr>
<tr>
<td>10. Develop a common regulatory framework that better defines criteria and standards for effectiveness, quality and use cases for diagnostics.</td>
<td>Stringent Regulatory Authorities to work through the International Medical Device Regulators Forum. SRA will report on progress <strong>by April 2022</strong>.</td>
<td>&bull; The International Medical Device Regulators Forum (IMDRF) formally rejected this recommendation as it was considered as outside the remit of the organisation. <br /><br />&bull; The MHRA (UK) and the FDA&rsquo;s Center for Devices and Radiological Health (US) have committed to working with G7 counterparts to define the scope of this recommendation, given limited global resources, and prioritise the most impactful areas for mutual recognition. A bilateral paper will be produced by the end of 2021 that sets out the scope and sequencing of this recommendation.</td>
<td><strong>2022</strong> <br /><br />&bull; Following the release of the bilateral collaboration and prioritisation paper in late 2021, the MHRA and FDA will collaborate with their G7 counterparts to implement proposals to streamline regulatory processes over <strong>2022</strong>-26. <br /><br />&bull; This could include a streamlined process for new product applications, and will explore the possibility of reciprocal agreements on regulatory approval to negate the need for the same product to be approved in multiple jurisdictions. <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2026 SRAs, working with the WHO and FIND, will have implemented recommendations on developing mutual recognition agreements to enable the rapid approval of diagnostic tools once a PHEIC is declared.</td>
</tr>
<tr>
<td>11. Transform the approach to clinical trial regulation, shortening the time to authorise trials and streamlining the requirements and guidelines relating to trial conduct.</td>
<td>Stringent Regulatory Authorities to work with the WHO and the Good Clinical Trials Collaborative. SRA will report on progress at the <strong>2021 Implementation Review.</strong></td>
<td>&bull; The Good Clinical Trials Collaborative (GCTC) reported to the 100DM Secretariat on its progress ahead of the 2021 Implementation Review. <br /><br />&bull; The GCTC has reviewed existing rules, such as the Good Clinical Practice (GCP) clinical trials guidance, and developed new guidance with a cross-sectional, global stakeholder group. Public consultation has taken place and the new guidance will be published in December 2021. The GCTC guidance will focus on foundational scientific and ethical principles that enable innovative, efficient and robust randomised trials of promising interventions.</td>
<td><strong>2022</strong> <br /><br />&bull; In <strong>2022</strong> the GCTC will conduct a comprehensive engagement and communications plan to embed their guidance (published in December 2021) within the clinical regulation community and conduct a capacity strengthening assessment of existing guidance. <br /><br />&bull; GCTC will collect feedback from stakeholders and promote implementation of the good RDT principles by regulators, funders and governments. <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2023 major regulatory authorities&rsquo; updated guidance should be substantively influenced by these principles and they should be applied in industry clinical trials.</td>
</tr>
<tr>
<td>12. Stimulate a move towards innovative technologies to reduce the complexity of vaccine manufacturing processes and make technology transfer and scalable manufacturing easier in a pandemic by investing in R&amp;D.</td>
<td>Pharmaceutical industry [supported by IFPMA] to work in partnership with biotechnology companies, CEPI, Gavi, research institutions, academia, the public sector and relevant organisations. IFPMA will report <strong>annually from October 2021</strong>.</td>
<td>&bull; IFPMA reported to the 100DM Secretariat summarising industry progress in moving towards innovative technologies (platform technologies) as a route to simplify future manufacturing processes. Industry and the public sector are investing in improving the scalability of viral vector manufacturing technology platforms. Approaches vary according to the vector and include high-yield cell lines, suspension cell cultures, process intensification and automation, and modular manufacturing processes. <br /><br />&bull; The report noted that some companies are developing lyophilized vaccines, enabling their use outside of the cold chain. Pfizer and BioNTech have initiated a Phase 3 study evaluating a lyophilized (freeze-dried) formulation of their COVID-19 vaccine designed to be refrigerator-stable. Similarly, Moderna and CureVac continue exploring mechanisms that could produce more thermostable mRNA vaccines. 2nd generation Lipid Nanoparticles (LNPs) capabilities may simplify encapsulation and aid tech transfer. <br /><br />&bull; Novel (needle-free) routes of administering vaccines are also under development (including nasal sprays). Proving the efficacy of needle-free routes will be key.</td>
<td><strong>2022</strong> <br /><br />&bull; IFPMA (and partners) will provide a written report annually on progress towards innovative technologies to reduce the complexity of manufacturing prior to the annual Implementation Review. <br /><br />&bull; CEPI (with partners) will invest in disruptive innovations to improve platform technology and manufacturing processes. <br /><br />&bull; Industry and academia will collaborate to understand the causes of instability of mRNA formulations and to drive development of routes to stabilise future products (e.g. improvements in LNPs). Industry, working with governments, develops needle-free vaccine formulations, proving efficacy. <br /><br /><strong>Future Years</strong> <br /><br />&bull; In 2026, vaccine platforms will be optimised for large-scale production and simplified routes of administration and storage.</td>
</tr>
<tr>
<td>13. The IMF to explore expanding their Article IV consultation with member countries to include a pandemic preparedness assessment, and draw on the analysis and expertise of others. Concurrently, multilateral development banks continue to support investment to strengthen and prepare health systems as part of their core day-to-day business.</td>
<td>The IMF to include a pandemic preparedness assessment in its <strong>Q3-4 2021</strong> Article IV consultation with member countries. <br /><br />Multilateral development banks to report by the <strong>2022 Annual Meetings.</strong></td>
<td>&bull; The IMF reported to the 100DM Secretariat on this recommendation ahead of the Implementation Review and provided a helpful assessment of the recommendation. This recommendation will not be taken forward because Article IV reports focus on the most macro-critical issues facing each country. This can make standardised requirements problematic as priority issues vary substantially across countries and time. <br /><br />&bull; G7 CSAs recognise that readiness assessments for each country are critical to achieving full PPR. The financing review being undertaken by the G20 Joint Finance-Health Taskforce will assess current pandemic financing mechanisms and review if they should be strengthened or if new mechanisms are required.</td>
<td><strong>2022</strong> <br /><br />&bull; The G20 Joint Finance-Health Taskforce will meet before the end of 2021 and report to G20 Health and Finance Ministers by early 2022 on modalities to establish a financial facility, to be designed inclusively, to ensure adequate and sustained financing for pandemic PPR. The Task Force will initially be jointly chaired by the 2021 and 2022 G20 Presidencies, and will be assisted by a secretariat housed at the WHO, with the support of the World Bank. <br /><br /><strong>Future Years</strong> <br /><br />&bull; The financing review led by the G20 Task Force will recommend next steps to the G20 Health and Finance ministers. <br /><br />&bull; The Task Force could work with the IMF and other stakeholders to coordinate and mobilise critical financing such as grants and concessional lending with the aim of improving LMIC access to DTVs.</td>
</tr>
<tr>
<td>14. Establishing a Global Health Board reporting to the G20 to provide oversight of pandemic readiness on an annual basis.</td>
<td>G20 governments to consider this at the <strong>October 2021</strong> meeting of G20 Health and Finance Ministers for adoption in 2022.</td>
<td>&bull; The G20 Health and Finance Ministers met in October 2021 and agreed to establish a G20 Joint Finance-Health Task Force aimed to enhance dialogue and global cooperation on issues relating to pandemic PPR; promoting the exchange of experiences and best practices; developing coordination arrangements between Finance and Health Ministries; promoting collective action; assessing and addressing health emergencies with cross-border impact; and encouraging effective stewardship of resources for pandemic PPR, while adopting a One Health approach.</td>
<td><strong>2022</strong> <br /><br />&bull; The G20 Joint Finance-Health Taskforce will meet before the end of 2021 and will report to G20 Health and Finance Ministers by early 2022 on modalities to establish a financial facility, to be designed inclusively to ensure adequate and sustained financing for pandemic PPR. The Task Force will initially be jointly chaired by the 2021 and 2022 G20 Presidencies, and will be assisted by a secretariat housed at the WHO, with the support of the World Bank. <br /><br /><strong>Future Years</strong> <br /><br />&bull; Following the 2022 Spring assessment, the G20 will consider permanent governance arrangements to provide oversight on pandemic PPR.</td>
</tr>
<tr>
<td>15. Governments should build in conditions into DTV funding contracts for LMIC access to access DTVs at not for profit and scale, which is to be enacted if a Public Health Emergency of International Concern is declared.</td>
<td>G7 governments, through its CSAs or equivalents, to provide an update at the <strong>2021 Implementation Review</strong>.</td>
<td>&bull; G7 CSAs reported to the 100DM Secretariat on their progress implementing this recommendation ahead of the 2021 Implementation Review. G7 governments are considering the domestic implementation of this recommendation. <br /><br />&bull; The US, as per procurement laws and the Federal Acquisition Regulation, already negotiates with companies to get favourable prices for rapid DTVs and has plans to donate many of them to LMICs. <br /><br />&bull; Canada supports the recommendation in principle and is looking at solutions (e.g. COVAX Facility) to purchase DTVs at lower costs while complying with existing intellectual property policies. <br /><br />&bull; The UK is developing common principles for the management of research outputs to standardise the approach in research funding (grants and contracts) to encourage equitable access for less developed countries.</td>
<td><strong>2021/2022 </strong><br /><br />&bull; Further work is required by all G7 governments to align their equitable access commitments with DTV funding contracts. In late 2021/early <strong>2022</strong> the G7 CSAs should identify a domestic single point of contact to clarify country domestic positions on this recommendation. <br /><br />&bull; WHO Member States should consider whether equitable access in DTV funding contracts should also be captured in forthcoming discussions on a potential WHO Convention, agreement, or other instrument on pandemic preparedness and response, if appropriate. <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2026 G7 governments should consider including clauses in DTV funding contracts and grants that support equitable access for LMICs. This could also be considered in the discussion on a WHO convention, agreement, or other international instrument (if appropriate).</td>
</tr>
<tr>
<td>16. Governments and industry should share risk to maintain vaccine manufacturing capacity.</td>
<td>COVAX Manufacturing Task Force,to work with industry and G7 governments. The Task Force will publish a plan by <strong>October 2021</strong>.</td>
<td>&bull; The COVAX Vaccine Manufacturing Task Force, supported by partner organisations and the G20,141 is increasing vaccine distribution, administration and local manufacturing capacity in LMICs, including through technology transfer hubs in various regions. <br /><br />&bull; The Partnership for African Vaccine Manufacturing (PAVM) is leading the establishment of a new mRNA hub in South Africa and the Pan-American Health Organisation (PAHO) is coordinating the development of hubs in Argentina and Brazil.</td>
<td><strong>2022</strong> <br /><br />&bull; In 2022 the COVAX Vaccine Manufacturing Task Force will demonstrate a viable model for vaccine manufacturing hubs to build regional production capacity, with stronger industry participation. <br /><br />&bull; New industry partnerships will be established with manufacturers in Africa, Latin America and Asia that expand capacity across priority technology platforms. <br /><br />&bull; A platform will be established to support collaboration across international and regional organisations on vaccine manufacturing investment and market shaping. <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2026 there will be expanded capabilities of existing manufacturers in LMICs, and established sustainable capacity in regions where there is currently no significant capacity.</td>
</tr>
<tr>
<th colspan="4"><strong>Agree different rules of the road to come into effect in a pandemic</strong></th>
</tr>
<tr>
<td>17. As part of the proposed WHO Treaty on Pandemic Preparedness setting guidance for pandemics, the WHO should define &lsquo;rules of the road&rsquo; and set out guidance on good practice for all relevant stakeholders in a pandemic, pre-negotiated with governments, industry and international organisations.</td>
<td>The WHO to work with industry, CEPI, Gavi, FIND, The Global Fund, and other relevant organisations. WHO to report at the special session of the World Health Assembly in <strong>November 2021</strong>.</td>
<td>&bull; In late November 2021 a special session of the World Health Assembly will discuss the benefits of developing a WHO convention, agreement, or other international instrument, taking into consideration the recommendations of the WGPR to establish an intergovernmental negotiating process. This is a unique window of opportunity to advance much-needed reforms and to strengthen global health governance for preparedness and response. <br /><br />&bull; Potential targeted amendments to the existing International Health Regulations (IHRs) are also under consideration by the WGPR, as a means of strengthening the global response to future pandemics.142</td>
<td><strong>2022</strong> <br /><br />&bull; In late November 2021 a special session of the World Health Assembly will discuss the benefits of developing a WHO convention, agreement, or other international instrument intended to provide the long-term, overarching framework for better global health security and accountability. <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2026 the WHO should set good practice guidance for a pandemic, to be considered by Member States during the discussions on a potential WHO convention, agreement, or other international instrument in late November 2021.</td>
</tr>
<tr>
<td>18. Explore the creation of regional mechanisms to coordinate and prioritise clinical trials of DTVs.</td>
<td>The WHO to work with G20 governments, industry, philanthropic organisations and academia. The WHO will report on progress by October 2021 and present a proposal at the <strong>2022 Implementation Review.</strong></td>
<td>&bull; In October 2021, the WHO hosted the first of a series of roundtable discussions. A work plan to deliver this recommendation has been developed, including to improve the coordination and prioritisation of clinical trials both in pandemics and for ongoing issues of global health importance. <br /><br />&bull; The work plan includes consideration of mechanisms to improve global coordination of research questions and testing of DTVs, developing recommended shared protocols to be triggered in a public health emergency, strengthening and accreditation of national ethical review boards, and facilitating the rapid, effective and equitable uptake of the results of trials into policy and practice.</td>
<td><strong>2022</strong> <br /><br />&bull; The WHO will conclude the exploratory roundtable discussions and work with relevant stakeholders to implement the action plan. <br /><br />&bull; At the 2022 Implementation Review the G7 CSAs will assess the outcome of WHO&rsquo;s exploratory work and update the roadmap for this recommendation accordingly. <br /><br /><strong>Future Years</strong> <br /><br />&bull; The WHO should lead the implementation action plan, working with global partners, and aim to have delivered its plan by 2026.</td>
</tr>
<tr>
<td>19. Stringent Regulatory Authorities and the WHO should form an international alliance in a pandemic to support timely exchange of knowledge and information relating to standards and guidelines for DTVs. <br /><br />20. Stringent Regulatory Authorities and the WHO exchange experience and best &bull;practice on regulatory evaluation of other types of studies (e.g. human challenge trials, immunogenicity studies) during pandemics to support the development of appropriate protocols and guidelines.</td>
<td>Stringent Regulatory Authorities to work in partnership with the WHO. SRA will report on progress <strong>by April 2022</strong>.</td>
<td>&bull; The UK&rsquo;s Medicines and Healthcare products Regulatory Agency (MHRA) reported to the 100DM Secretariat on its progress ahead of the 2021 Implementation Review. The update for recommendations 19 and 20 have been combined to reflect the integrated delivery mechanism. <br /><br />&bull; The MHRA and the European Medicines Agency (EMA) have established and are co-leading a Clinical Trials Working Group within the International Coalition of Medicines Regulatory Authorities (ICMRA). One of the key outputs recommended by the ICMRA executive committee will be the development of a reflection paper to endorse an off-the-shelf pandemic preparedness protocol for regulators which will reflect best practice and lessons learned from COVID-19. Ireland, Italy, USA, Japan and Canada have expressed an interest to participate in the working group, while the MHRA and EMA are seeking representation from more regulators.</td>
<td><strong>2022</strong> <br /><br />&bull; The MHRA will provide a written report on progress of the pandemic protocol, on behalf of the ICRMA Clinical Trials Working Group, ahead of the annual Implementation Review. <br /><br />&bull; The ICMRA Executive Committee will endorse a reflection paper and drafting of the protocols will begin by appropriate experts. These will be endorsed by the ICMRA Executive Committee. <br /><br /><strong>Future Years</strong> <br /><br />&bull; The aim is for the protocol to be endorsed by the ICMRA in 2023 resulting in an off-the shelf pandemic preparedness protocol for regulators, reflecting best practice and lessons learned from COVID-19.</td>
</tr>
<tr>
<td>21. Explore the scope for a system that enables biological samples to be collected and shared immediately and unhindered in a pandemic.</td>
<td>The WHO to identify what is possible with respect to the Nagoya protocol. The WHO will report on progress by <strong>October 2021</strong> ahead of the <strong>2021 Implementation Review.</strong></td>
<td>&bull; The WHO is developing a BioHub System with global reach to expand knowledge and advance technical work on high-threat pathogens. The System will allow Member States to share biological materials with epidemic or pandemic potential (BMEPP) on a voluntary basis with one of the trusted WHO BioHub Facilities under predetermined conditions. At an initial stage, these qualified entities will receive BMEPP for non-commercial purposes. The WHO will be conducting technical consultations, including on defining the conditions for sharing with commercial partners. <br /><br />&bull; In parallel, the WHO Secretariat will work on a proposal to broaden the WHO BioHub System for the use of BMEPP by qualified entities, such as manufacturers, for commercial purposes as well as their fair and equitable allocation to countries in need. <br /><br />&bull; Domestically, Japan is establishing a national biobank, the Repository of Data and Specimen of Infectious Disease (REBIND), to assess human samples with genomic sequence data in order to address R&amp;D challenges.</td>
<td><strong>2022</strong> <br /><br />&bull; In May 2022 the WHO will report to the World Health Assembly on the progress of the WHO BioHub System. G7 CSAs should note progress in their annual Implementation Review. <br /><br /><strong>Future Years</strong> <br /><br />&bull; Implementation (including timing) of the BioHub will be determined by Member States and guidance from the 2022 World Health Assembly. <br /><br />&bull; The BioHub could encourage the sharing of biological materials soon after the detection of a pathogen with epidemic or pandemic potential in order to support rapid characterisation, provide informed review of the risk under Annex 1 of the International Health Regulations (2005)143 and foster greater international cooperation for health emergency preparedness and response.</td>
</tr>
<tr>
<td>22. Support the recommendations of the Science Academies of the G7 and endorse the development of a roadmap towards a more systematic approach to data capture, standards, sharing and analysis for health emergencies.</td>
<td>Science Academies of G7 countries (S7) to work with the WHO and partners and report on progress by <strong>April 2022</strong>.</td>
<td>&bull; The Global Pandemic Data Alliance (GPDA) is now leading implementation of this recommendation, working with the WHO. <br /><br />&bull; The GPDA has developed a two-year implementation pandemic data roadmap (2021-2023) to meet the challenges set out by the Science Academies of the Group of Seven (S7) to ensure the availability and accessibility of data for critical insights during public health emergencies. <br /><br />&bull; The GPDA&rsquo;s health data roadmap will unlock data to support progress in three priority areas: developing a global disease surveillance and risk monitoring system, building and strengthening public health capacity and accelerating the development and delivery of DTVs. Funding has been secured for the first round of major programmes planned by GPDA partner organisations and work has commenced.</td>
<td><strong>2022</strong> <br /><br />&bull; In 2022 the Global Pandemic Data Alliance will produce a written report on progress on the pandemic data roadmap ahead of the annual Implementation Review. <br /><br />&bull; The GPDA will secure further funding to deliver the roadmap, including to build a suite of open-source tools that can help access, process and analyse data for health emergencies. <br /><br />&bull; The GPDA will conduct a mapping exercise of the existing regional and multilateral initiatives to focus efforts on gaps, avoid duplication and maximise impact. <br /><br />&bull; The GPDA will publish a mapping of current data governance approaches, and frameworks for identifying and evaluating considerations around data governance and data architecture. <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2023 the GPDA will have delivered its pandemic data roadmap to ensure safe access to data and data analysis for health emergencies. GPDA&rsquo;s tools will be integrated into the epidemiological community and key pandemic data analysis centres.</td>
</tr>
<tr>
<td>23. A PHEIC should trigger the activation of an automatic mechanism to procure and distribute DTVs. Further work is needed to determine how such a facility could operate and we recommend considering basing this on advance commitments that are pre-negotiated well before a pandemic.</td>
<td>World Bank to work with Gavi, The Global Fund, CEPI and the WHO. The World Bank will facilitate agreement on financing mechanisms by the <strong>2022 Spring Meetings</strong> and report to the 2022 G20 Presidency.</td>
<td>&bull; The World Bank and the IMF reported to the 100DM Secretariat on their progress ahead of the 2021 Implementation Review. The Multilateral Leaders Task Force is coordinating with the World Bank, the IMF, WHO and the World Trade Organization (WTO) to align funding plans, offerings and resource opportunities. <br /><br />&bull; The World Bank is reviewing lessons from COVAX and AVAT to inform the design of robust, pooled procurement mechanisms for the future. These mechanisms will be critical to help secure and guarantee timely, affordable and equitable access to vaccines and other medical countermeasures (oxygen therapeutics, diagnostic kits, personal protective equipment, and more) for developing countries. These mechanisms will require at-risk financing from the World Bank and donors. <br /><br />&bull; The G20 Health and Finance Ministers are establishing a G20 Joint Finance-Health Task Force that could support a range of possible functions, including enhancing dialogue and global cooperation on issues relating to pandemic PPR, promoting the exchange of experiences and best practices, developing coordination arrangements between Finance and Health Ministries, promoting collective action, assessing and addressing health emergencies with cross-border impact, and encouraging effective stewardship of resources for pandemic PPR, while adopting a One Health approach.</td>
<td><strong>2022</strong> <br /><br />&bull; The G20 Joint Finance-Health Task Force will be established in late 2021. The Task Force could present in early 2022 an assessment on modalities to establish a financial facility, to ensure adequate and sustained financing for pandemic prevention, preparedness and response. <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2026, the aim is to have strengthened (pre-negotiated) financing mechanisms in place for DTVs prior to a PHEIC being declared. The G20 Joint Finance-Health Task Force or its replacement arrangements could lead the work, working closely with the World Bank and other partners.</td>
</tr>
<tr>
<td>24. As part of countries&rsquo; bilateral DTV procurement, any advance purchase agreements with manufacturers should include a requirement for products provided to LMICs to be provided at not for profit. This must also be done within a similar timeframe to when HICs are supplied.</td>
<td>G7 governments, through its CSAs or equivalents, to provide an update at the <strong>2021 Implementation Review</strong>.</td>
<td>&bull; G7 CSAs reported to the 100DM Secretariat on their government&rsquo;s progress implementing this recommendation ahead of the 2021 Implementation Review. <br /><br />&bull; In late November 2021 a special session of the World Health Assembly will discuss a potential WHO convention, agreement, or other international instrument intended to provide the long-term, overarching framework for better global health security and accountability that the world needs.</td>
<td><strong>2021/22:</strong><br /><br />&bull; Further work is required by all G7 governments to align their equitable access commitments with DTV procurement protocols. <br /><br />&bull; In early 2022 the G7 CSAs should identify a domestic point of contact to discuss and determine a way forward on the recommendation. <br /><br />&bull; Advance Purchase Agreements (APAs) could be considered as part of discussions oin a potential WHO convention, agreement, or other international instrument being discussed as part of the 2021 World Health Assembly special session. This would support aims towards equitable access to DTVs. <br /><br /><strong>Future Years</strong> <br /><br />&bull; By 2026 G7 governments should consider including clauses in DTV funding contracts and grants which support equitable access to DTVs for LMICs.</td>
</tr>
<tr>
<td>25. Multilateral development bank loans should be made available so LMICs can purchase DTVs above the 30% provided through the DTV financing facility in line with recommendation 23. Normal access limits or policies applied by multilateral development banks should not prevent countries receiving urgent finance during a pandemic.</td>
<td>Multilateral development banks to report to the G20 Presidency by the <strong>Spring Meetings</strong> of the World Bank and the IMF.</td>
<td>&bull; The World Bank and the IMF will conduct further work to fill any pandemic financing gaps, and the conclusion of the International Development Association (IDA) replenishment will determine the measures required. <br /><br />&bull; The World Bank is exploring strengthening its existing core funding mechanisms &ndash; IDA and the International Bank for Reconstruction and Development (IBRD) &ndash; in support of pandemic preparedness and response. In the ongoing IDA20 replenishment process the World Bank is exploring a package of measures to enhance IDA&rsquo;s toolkit of crisis response and preparedness to strengthen preparedness and financing of response activities in the event of a future pandemic. <br /><br />&bull; The G20 Joint Finance-Health Task Force as part of their assessment could include a review of current finance mechanisms and assess if strengthening is required.</td>
<td><strong>2022</strong> <br /><br />&bull; The G20 Joint Finance-Health Task Force could report to G20 Health and Finance Ministers by early 2022 on modalities to establish a financial facility, to be designed inclusively, to ensure adequate and sustained financing for pandemic PPR. Future milestones will be developed following the conclusion of the G20 Joint Finance-Health Task Force in early 2022. <br /><br /><strong>Future Years </strong><br /><br />&bull; 2026 milestones to be informed by the work of the G20 Joint Finance-Health Task Force.</td>
</tr>
</tbody>
</table>